html{
  font-size: 16px;
  font-family: Helvetica;
  color: black;
  overflow-x: hidden;
}

@media only screen and (max-width: 1024px) {
  html{
    font-size: 12px;
  }
}

@media only screen and (max-width: 750px) {
  html{
    font-size: 10px;
  }
}

@media only screen and (max-width: 620px) {
  html{
    font-size: 8px;
  }
}

@media only screen and (max-width: 540px) {
  html{
    font-size: 12px;
  }
}

div{
  display: block;
}

body{
  display: block;
  max-width: 1903px;
  margin: 0 auto;
  border-left:1px solid #616161;
  border-right: 1px solid #616161;
  border-bottom:1px solid #616161;
}

/* HEADER STYLING */

header{
  display: flex;
  height: 4rem;
  width: 100%;
  max-width: 1903px;
  position: fixed;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid #616161;
  margin-top: 0px;
}

.container{
  padding: 0 1.5rem;
  width: 100%;
}

header .container{
  display: inline-flex;
  padding: 1rem 1.5rem;
  align-items: center;
  justify-content: space-between;
}

.logoname{
  height: 2rem;
  display: flex;
  width: 49%;
  justify-content: flex-start;
  align-items: center;
}

.logoname img{
  height: 3rem;
  width: auto;
}

.logoname h1{
  font-size: 2rem;
  color: #bdbdbd ;
}

.logoname h1 span{
  color: #424242 ;
  font-weight: bold;
}

.hiddenimage{
  display: none;
}

@media only screen and (max-width: 540px) {
  nav{
    display: none;
  }

  .hiddenimage{
    display: block;
  }

  .hiddenimage{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .logoname{
    display: none;
  }
}

nav .navigator{
  display: flex;
  height: 2rem;
  width: 49%;
  justify-content: flex-end;
  align-items: center;
}


.navigator ul li{
  display: inline-flex;
  padding-left: 1rem;
}

.navigator ul li a{
  color: #424242;
  text-decoration: none;
}

.navigator ul li a:hover{
  text-decoration: underline;
}

/*Learn Something new everyday */

.section1{
  display: flex;
  padding-top: 6rem;
  background-color: #bdbdbd;
  padding-bottom: 2rem;
  justify-content: flex-start;
}


.section1 .container{
  display: flex;
}

.section1 .learnimg{
  max-width: 60%;
  padding-right: 1.5rem;
}

.learnimg img{
  max-width: 100%;
  height: auto;
}

.help{
  display: flex;
  align-items: center;
  max-width: 30%;
}

.learn{
  display: block;
  line-height: 1.2;
}

.learn h1{
  font-size: 3rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #424242;
}

.learn h1:hover{
  text-decoration: underline;
  transition: text-decoration 1s linear;
}

.learn h3{
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #424242;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #424242;
  font-size: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  max-width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #424242;
}

.button:hover{
  background-color: #505050;
}

.button span{
  color: white;
  font-weight: bold;
}

@media only screen and (max-width: 540px){
  .section1 .learnimg{
    width: 100%;
    display: block;
  }

  .help{
    display: block;
    width: 100%;
  }
}

/* It doesn't hurt to keep practicing */

.section2{
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: flex-start;
}

.section2 .container{
  display: flex;
}

.practice{
  display: inline-flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  max-width: 60%;
  padding-right: 1.5rem;
}

.practiceimg{
  display: block;
  padding-bottom: 2rem;
}

.practiceimg img{
  max-width: 100%;
  height: auto;
}

.practice h1{
  font-size: 2rem;
  font-weight: bold;
  color: #424242;
}

.practice h1:hover{
  text-decoration: underline;
}

.practice p{
  padding: 1.5rem auto;
  color: #616161 ;
  padding-left: 0rem;
}

.practice h6{
  color: #616161 ;
  padding-left: 0rem;
}

.sidebars{
  display: inline-flex;
  flex-direction: column;
  max-width: 40%;
  border-left: 1px solid #9e9e9e;
}

.sidebar{
  display: flex;
  padding: 1rem;
}

.sidebar:hover{
  background-color: #e0e0e0 ;
}

.sidebarimg{
  display: block;
  height: auto;
  max-width: 35%;
}

.sidebarimg img{
  max-width: 100%;
}

.sidebartxt{
  display: flex;
  align-content: center;
  justify-content: center;
  max-width: 65%;
  flex-wrap: wrap;
}

.sidebartxt h3{
  display: block;
  padding: 0.5rem;
  padding-left: 1rem;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  color: #424242 ;
}

.sidebartxt h3:hover{
  text-decoration: underline;
}

.sidebartxt p{
  display: block;
  padding: 0.5rem;
  padding-left: 1rem;
  width: 100%;
  color: #616161 ;
}

.sidebartxt a{
  display: block;
  padding: 0.5rem;
  width: 100%;
  padding-left: 1rem;
  color: #2196f3 ;
  text-decoration: none;
}

.sidebartxt a:hover{
  text-decoration: underline;
}

/* Start learning */

.section3{
  display: flex;
  background-color: #bdbdbd;
}

.section3 .container{
  margin-left: 3rem;
  margin-right: 3rem;
}

.header{
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: 700;
  padding: 2rem;
  width: 100%;
  color: #212121;
}

.header:hover{
  text-decoration: underline;
}

.start1 , .start2{
  display: flex;
  width: 100%;
}

.course{
  display: flex;
  width: 33%;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-right: 1rem;
  justify-content: space-around;
  margin-bottom: 2rem;
  background-color: white;
}

.course:hover{
  background-color: #b0bec5;
}

.coursetxt h2:hover{
  text-decoration: underline;
}

.courseimg{
  width: 100%;
}

.courseimg img{
  width: 100%;
  max-height: auto;
}

.coursetxt{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.coursetxt h2, h6, p{
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  width: 100%;
  color: #616161;
}

.coursetxt h2{
  font-size: 2rem;
  font-weight: bold;
  color: #424242 ;
}

.coursetxt p{
  padding-bottom: 1.5rem;
  line-height: 1.4;
}

.section4{
  display: flex;
}

.section4 .container{
  display: block;
}

.section4 .header{
  display: flex;
  width: 100%;
}

.section4 .container .header h1{
  color: #212121;
  font-weight: bold;
}

.bodycontainer{
  display: flex;
}

.reimagine{
  display: block;
  width: 60%;
}

.reimaginevid{
  padding: 1.5rem 1.5rem 1.5rem 0;
}

.reimaginevid video{
  display: block;
  width: 100%;
  border: 1px solid #bdbdbd;
}

.reimaginetxt h2{
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  color: #424242;
}

.reimaginetxt h2:hover{
  text-decoration: underline;
}

.reimaginetxt p{
  padding-bottom: 2rem;
  padding-left: 0;
}

.section5{
  display: flex;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 5rem;
  border-top: 1px solid #bdbdbd;
}

.section5 span{
  padding: 0.5rem;
  color: #9e9e9e;
}

.section5 span:hover{
  text-decoration: underline;
}
